@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: #DACBB4;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: #FBFBFB;
  text-align: center;
  width: 100%;
}

.push {
  height: 50px;
}

.textColor {
  color: #fff;
}

.textColorCard {
  background-color: #906E49;
  color: #FBFBFB;
  font-family: 'Roboto', sans-serif;
}

.thinWeight {
  font-weight: 300 !important;
}

a {
  text-decoration: none;
  color: rgb(70, 130, 180);
}

.githubIcon {
  color: black;
}

.cardButtons {
  background-color: rgb(62, 40, 24) !important;
}

.square {
  border-radius: 0 !important;
}

@media screen and (max-width: 767px) {
  .songList {
    flex-direction: column-reverse !important;
    align-items: center;
  }
}