@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #DACBB4;
  min-height: 100vh;
}

.textColor {
  color: #fff;
}

.textColorCard {
 background-color: #906E49;
 color: #FBFBFB;
 font-family:'Roboto', sans-serif;
}

.thinWeight {
  font-weight: 300 !important;
}

a {
  text-decoration: none;
  color: rgb(70, 130, 180);
}

.githubIcon {
  color: black;
}

.cardButtons {
background-color: rgb(62, 40, 24) !important;
}

.square {
  border-radius: 0 !important;
}

footer {
  background-color: #FBFBFB;
  text-align: center;
}

.push {
  height: 50px;
  }
  
html, body { height: 100%;}

body > footer {
  position: sticky;
  top: 100vh;
}

@media screen and (max-width: 767px) {
  .songList {
    flex-direction: column-reverse !important;
    align-items: center;
  }
}