@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #DACBB4;
  min-height: 100vh;
}

.textColor {
  color: #fff;
}

.textColorCard {
 background-color: #906E49;
 color: #FBFBFB;
 font-family:'Roboto', sans-serif;
}

.thinWeight {
  font-weight: 300 !important;
}

footer {
  background-color: #FBFBFB;
  text-align: center;
  position: relative;
  bottom: 0;
}

a {
  text-decoration: none;
  color: rgb(70, 130, 180);
}

.githubIcon {
  color: black;
}

.cardButtons {
background-color: rgb(62, 40, 24) !important;
}